In [7]:
name = "Skylar Sickles"
print("name:", name)
age = (35)
print("age:", age)
print("name:", name, "age:", age)

name: Skylar Sickles
age: 35
name: Skylar Sickles age: 35

In [10]:
a = "Hello World"
print(a [2:5])
b = "Python is FUN!"
print(b.lower())
print(b.upper())
c = "I would like a beer."
print(len (c))

llo
python is fun!
PYTHON IS FUN!
20

In [17]:
a = 10
b = 3
print(round (a / b))
c = 9
d = 18
print("Addition:", c + d)
print("Subtraction:", c - d)
print("Multiplication:", d * c)
print("Division:", d / c)

3
Addition: 27
Subtraction: -9
Multiplication: 162
Division: 2.0

In [24]:
e = 5
f = 19
print(e > f) 
print(e == f)
print(f < e)
g = 17
h = 27
print(g < h and h > g)

False
False
False
True

In [7]:
i = -5
if i > 0:
    print("{i} is a positive number.")
elif i < 0:
    print("{i} is a negative number.")
else:
    print("{i} is 0.")
temperature = 35
if temperature > 30:
    print("HOT")
else:
    print("Not Hot")
score = 85
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("Below C")

{i} is a negative number.
HOT
B

In [13]:
animals = ["tiger", "panther", "lion"] #list
print(animals[1])
fruits = ("lemon", "lime", "orange") #tuple
print(fruits[0])
my_dict= {"name": "Alexis", "age": 33, "city": "Norfolk"}
my_dict["city"]

panther
lemon

'Norfolk'

In [21]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [20]:
i = 1
for i in range(10):
    if i % 2 ==0:
        print(i)

0
2
4
6
8

In [22]:
colors = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]
for i in colors:
    print(i)

red
orange
yellow
green
blue
indigo
violet